@media only screen and (min-width: 300px) {


  .buttonContainer{
    /* position: absolute; */
    /* top: 0%; */
    /* z-index:100; */
    text-align: center;
    /* margin-top: -50px; */
    /* width: 80%; */
    /* height: 100%; */
  }

  .start-button {
    position: relative;
    top: 15px;
    background: #ffffff;
    z-index:100;
    width: 55%;
    margin-top: 20px;
    line-height: 60px;
    font-size: 20px;
    letter-spacing: .03em;
    font-family: 'Sumana', serif;
    border: 2px solid #868686;

  }
  .start-button:hover {
    position: relative;
    top: 15px;
    background: #ffffff;
    z-index:100;
    width: 55%;
    margin-top: 20px;
    line-height: 60px;
    font-size: 20px;
    letter-spacing: .03em;
    font-family: 'Sumana', serif;
    border: 2px solid #868686;
    color: #606060;
    text-decoration: underline;
    outline: none;
  }

  .start-button:focus {
    position: relative;
    top: 15px;
    background: #ffffff;
    z-index:100;
    width: 55%;
    margin-top: 20px;
    line-height: 60px;
    font-size: 20px;
    letter-spacing: .03em;
    font-family: 'Sumana', serif;
    border: 2px solid #868686;
    color: #606060;
    text-decoration: underline;
    outline: none;
  }


  .start-background {
    position: relative;
    top: 0px;
    padding: 10px;
    background: "white";
    z-index:100;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px 20px #fff;
  }

  .start-paragraph {
    text-align: center;
    position: relative;
    background: "white";
    z-index: 100;
    margin-top: 20px;
    line-height: 31px;
    font-size: 18px;
    letter-spacing: .03em;
    font-family: 'Sumana', serif;
  }


  .button {
    border: none;
    margin-left: 3px;
    margin-right: 3px;
    z-index: 100;
    background-color: #ffffff;
    border: 1.5px solid #9a9a9a;
    margin-top: 20px;
    line-height: 60px;
    padding: 0 3%;
  }

  .button:hover {
    background: #fbfaf2;
    text-decoration: underline;
  }

  .mobileContainer{
    padding-right: 50px;
    padding-left: 50px;
  }



  .img-thumbnail{
    border: none;
    display: block;
    margin: auto;
    padding-top: 20px;
    width: 55px;
    padding-bottom: 10px;
    opacity: 0.8;
    background: none;

  }

  .net {
    font-family: 'Roboto', sans-serif;
    color: blue;
    font-size: 20px;

  }


  .html {
    scroll-behavior: smooth;
  }

  .voice {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Sumana', serif;
    color: #15235a;
    font-size: 30px;
    line-height: 50px;
  }

  .generate-button {
    padding-top: 40px;
    text-align: center;
  }



  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content:space-between;
    margin-top: 30px;

  }



  .header-text{
    font-size: 60px;
  }


  .input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #CCC;
    color: #505050;
    box-sizing: border-box;
    font-family: 'arial';
    font-size: 40px;
    height: 50px;
    text-align: center;
    margin: 0px 20px 40px 20px;
    padding: 10px 0px;
    position: relative;
    top: 50%;
    width: 200px;
    &:focus {
      outline: none !important;
    }
  }

  .textbox {
    text-align: center;

  }

  /*TYPOGRAPHY*/
  a {
    outline: none;
    color: #FDD835;
  }

  a:active {
    color: #FDD835;
  }

  a:visited {
    color: #F57F17;
  }



  a:hover {
    color: #FDD835;
    text-decoration: underline;

  }

  .textbox-padding{
    text-align: center;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .textboxrunning {
    padding-top: 20px;
    padding-left: 30%;
    padding-right: 30%;
    text-align: center !important;
  }

  .textbox-answer{
    text-align: center;
    display: none;

  }

  .container{
    z-index: 265;
    position: absolute !important;
    padding-top: 60px !important;
    width: 100% !important;

  }

  #container {
    width: 100%;
    height: 150px;
    background-color: red;
  }


  #buttons {
    color:white;
    background-color: #FF00FF;
    position:absolute;
    z-index:5;
    text-align: center;
    top:50px;
    width : 100%;
    height : 30px;
  }


  .container-fluid{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    width: 100% !important;
  }



  .icon-font{
    position: absolute !important;
    /* background-color: red; */
    z-index:5;
    padding-top: 0px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: #303030;
    position: relative;
    top: -15px;
  }

  .sub-text{
    z-index: 265;
    padding-top: 60px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #333333;
    font-weight: 300;
    position: relative;
    top: -15px;

  }

  .sub-text-players{
    /* max-width: 280px; */
    text-align: center;
    font-family:  'Roboto Mono', monospace;
    font-size: 12px;
    font-weight: 300;
    color: #999999;
    position: relative;
    top: -20px;
    z-index: 222;
  }


  .about{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    font-weight: 300;
    color: #999999;
    position: relative;
    z-index: 252;
    top: -30px;
  }


  .about-text{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    font-weight: 300;
    color: #303030;
    font-weight: 300;
    position: relative;
    top: 75px;
  }


  .about-running-text{
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
    font-family:  'Roboto Mono', monospace;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: #303030;
    font-weight: 300;
    position: relative;
    top: 100px;
    text-decoration: none !important;
  }


  .about-header-text{
    padding-right: 25%;
    padding-left: 25%;
    text-align: center;
    font-family:  'Roboto Mono', monospace;
    font-size: 28px;
    line-height: 1.5;
    font-weight: 600;
    color: #303030;
    font-weight: 300;
    position: relative;
    top: 100px;
    text-decoration: none !important;

  }


  .logo {
    text-align: center;
    width: 15px;
  }


  .body {
    padding: 20px;
    background-color: 'white';
  }


  .book-div{
    "text-align: center;"
    position: absolute;
    z-index: 1;
  }




  .button {
    margin-left: 3px;
    margin-right: 3px;
    z-index: 100;
    background-color: white;
    border: 1.5px solid #9a9a9a;
    margin-top: 20px;
    line-height: 60px;
    padding: 0 4%;
  }

  .title-text{
    font-size: 20px;
    font-family: 'Sumana', serif;

    /* font-family: 'Short Stack', cursive; */

  }

  .title-text-name{
    font-size: 20px;
    color: #b5b0b6;
    font-family: 'Sumana', serif;
  }

  .lightbox {
    /** Default lightbox to hidden */
    display: none;

    /** Position and style */
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.95);
  }

  .lightbox img {
    /** Pad the lightbox image */
    max-width: 90%;
    max-height: 80%;
    margin-top: 2%;
  }

  .lightbox:target {
    /** Remove default browser outline */
    outline: none;

    /** Unhide lightbox **/
    display: block;
  }







  .close {
    font-family:  'Roboto Mono', monospace;
    float: right;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    color: #111;
    text-shadow: 0 1px 0 #fff;
    opacity: .4;
    position: fixed;
    top: 25px;
    right: 20px;
    width: 90px;
    border: 0px solid lightgrey;
    padding: 0px;
  }
}


@media only screen and (min-width: 768px) {

  .container{
    z-index: 265;
    position: absolute !important;
    padding-top: 60px !important;
    width: 100% !important;

  }

  #container {
    width: 100%;
    height: 150px;
    background-color: red;
  }

  #buttons {
    color:white;
    background-color: #FF00FF;
    position:absolute;
    z-index:5;
    text-align: center;
    top:50px;
    width : 100%;
    height : 30px;
  }


  .container-fluid{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    width: 100% !important;
  }


  .mobileContainer{
    padding-right: 0px;
    padding-left: 0px;
  }
  .icon-font{
    position: absolute !important;
    /* background-color: red; */
    z-index:5;
    padding-top: 0px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: #303030;
    position: relative;
    top: -15px;
  }

  .sub-text{
    z-index: 265;
    padding-top: 60px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #333333;
    font-weight: 300;
    position: relative;
    top: -15px;

  }

  /*TYPOGRAPHY*/
  a {
    outline: none;
    color: #FDD835;
  }

  a:active {
    color: #FDD835;
  }

  a:visited {
    color: #F57F17;
  }

  a:hover {
    color: #FDD835;
    text-decoration: underline;

  }

  .sub-text-players{
    /* max-width: 280px; */
    text-align: center;
    font-family:  'Roboto Mono', monospace;
    font-size: 12px;
    font-weight: 300;
    color: #999999;
    position: relative;
    top: -20px;
    z-index: 222;
  }

  .reset-timer{
    text-align: center;
    font-family:  'Roboto Mono', monospace;
    font-size: 12px;
    font-weight: 300;
    color: #999999;
    position: relative;
    top: -25px;
  }


  .about{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    font-weight: 300;
    color: #999999;
    position: relative;
    z-index: 252;
    top: -30px;
  }

  .sub-text-instructions{
    text-align: center;
    font-family:'Roboto Mono', monospace;
    font-size: 40px;
    font-weight: 800;
    color: #303030;
    font-weight: 300;
    position: relative;
    top: -110px;
  }


  .about-text{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    font-weight: 300;
    color: #303030;
    font-weight: 300;
    position: relative;
    top: 75px;
  }


  .about-running-text{
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
    font-family:  'Roboto Mono', monospace;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: #303030;
    font-weight: 300;
    position: relative;
    top: 100px;
    text-decoration: none !important;
  }

  .about-musical-text{
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
    font-family:  'Roboto Mono', monospace;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: #303030;
    font-weight: 300;
    position: relative;
    top: 110px;
    text-decoration: none !important;
  }

  .about-header-text{
    padding-right: 25%;
    padding-left: 25%;
    text-align: center;
    font-family:  'Roboto Mono', monospace;
    font-size: 28px;
    line-height: 1.5;
    font-weight: 600;
    color: #303030;
    font-weight: 300;
    position: relative;
    top: 100px;
    text-decoration: none !important;

  }

  .about-created-text{
    padding-right: 0%;
    padding-left: 0%;
    text-align: center;
    font-family:  'Roboto Mono', monospace;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
    color: #303030;
    font-weight: 300;
    position: relative;
    top: 120px;
    text-decoration: none !important;

  }

  .logo {
    text-align: center;
    width: 15px;
  }


  .body {
    padding: 20px;
    background-color: 'white';
  }

  .button {
    margin-left: 3px;
    margin-right: 3px;
    z-index: 100;
    background-color: white;
    border: 1.5px solid #9a9a9a;
    margin-top: 20px;
    line-height: 60px;
    padding: 0 4%;
  }

  .button:hover {
    background: #fbfaf2;
    text-decoration: underline;
  }


  .button-holder{
    z-index: 100;
    font-size: 20px;
    width:23%;
    background-color: white;
    font-family: 'Sumana', serif;
    border: 1.5px solid #868686;
  }

  .illustration-container{
    border: none !important;
  }


  .img-thumbnail{
    border: none;
    display: block;
    margin: auto;
    padding-top: 20px;
    width: 55px;
    padding-bottom: 10px;
    opacity: 0.8;
    background: none;

  }
  .buttonContainer{
    position: absolute;
    top: 0%;
    z-index:100;
    text-align: center;
    /* margin-top: -50px; */
    /* width: 80%; */
    height: 100%;
  }


  .one-more{
    width: 120%;
    text-align: center;
    background: "white";
    z-index: 100;
    line-height: 60px;
    font-size: 20px;
    letter-spacing: .03em;
    color: #8a8a8a;
    font-family: 'Sumana', serif;
    border: 2px solid #8a8a8a;
  }

  .one-more:hover{
    width: 120%;
    text-align: center;
    background: "white";
    z-index: 100;
    line-height: 60px;
    font-size: 20px;
    letter-spacing: .03em;
    color: #8a8a8a;
    font-family: 'Sumana', serif;
    border: 2px solid #8a8a8a;
    text-decoration: underline;
  }

  .one-more:focus{
    width: 120%;
    text-align: center;
    background: "white";
    z-index: 100;
    line-height: 60px;
    font-size: 20px;
    letter-spacing: .03em;
    color: #8a8a8a;
    font-family: 'Sumana', serif;
    border: 2px solid #8a8a8a;
    text-decoration: underline;
    outline: none;
  }


  .blog-post{
    margin: auto;
    text-align: center;

    /* margin-top: 25px; */
    /* width: 120%; */
    text-align: center;
    background: "white";
    /* z-index: 100; */
    /* line-height: 60px; */
    font-size: 18px;
    letter-spacing: .03em;
    color: #8a8a8a;
    font-family: 'Sumana', serif;
  }

  .blog-post:hover{
    margin: auto;
    text-align: center;
    /* margin-top: 25px; */
    text-align: center;
    background: "white";
    /* z-index: 100; */
    /* line-height: 60px; */
    font-size: 18px;
    letter-spacing: .03em;
    color: #8a8a8a;
    font-family: 'Sumana', serif;
    text-decoration: underline;
  }

  .blog-post:focus{
    margin: auto;
    /* margin-top: 25px; */
    text-align: center;
    /* width: 120%; */
    text-align: center;
    background: "white";
    /* z-index: 100; */
    /* line-height: 60px; */
    font-size: 18px;
    letter-spacing: .03em;
    color: #8a8a8a;
    font-family: 'Sumana', serif;
    text-decoration: underline;
    outline: none;
  }

  .start-paragraph {
    position: relative;
    text-align: center;
    background: "white";
    z-index: 100;
    margin-top: 20px;
    line-height: 31px;
    font-size: 18px;
    letter-spacing: .03em;
    font-family: 'Sumana', serif;
  }


  .start-background {
    position: relative;
    top: 200px;
    padding: 10px;
    background: "white";
    z-index:100;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px 20px #fff;

  }




  .start-button {
    position: relative;
    top: 220px;
    left: 20px;
    background: "white";
    z-index:100;
    width: 27%;
    margin-top: 20px;
    line-height: 60px;
    font-size: 25px;
    letter-spacing: .03em;
    font-family: 'Sumana', serif;
    border: 2px solid #868686;
  }

  .start-button:hover {
    position: relative;
    top: 220px;
    left: 20px;
    background: "white";
    z-index:100;
    width: 27%;
    margin-top: 20px;
    line-height: 60px;
    font-size: 25px;
    letter-spacing: .03em;
    font-family: 'Sumana', serif;
    color: #606060;
    text-decoration: underline;

  }

  .start-button:focus {
    position: relative;
    top: 220px;
    left: 20px;
    background: "white";
    z-index:100;
    width: 27%;
    margin-top: 20px;
    line-height: 60px;
    font-size: 25px;
    letter-spacing: .03em;
    font-family: 'Sumana', serif;
    color: #606060;
    text-decoration: underline;
    outline: none;
  }


  .lightbox img {
    /** Pad the lightbox image */
    max-width: 90%;
    max-height: 80%;
    margin-top: 2%;
  }




}
